<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.analysys.track"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <service
            android:name="com.analysys.track.service.AnalysysAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":AnalysysService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

    </application>

</manifest>