<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.device"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 开机 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- UsageStatsManager权限 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- P和以后版本 服务需要该权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 下面权限新版本建议增加 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AnalysysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".activitys.TestCase1Activity" />
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.analysys.track.service.AnalysysService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.analysys.track.service.AnalysysJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="ExportedService" />

        <receiver android:name="com.analysys.track.receiver.AnalysysReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <!-- 网络变化广播 7.0以下有效 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.analysys.track.service.AnalysysAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":AnalysysService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service
            android:name="com.device.services.MyServiceN"
            android:enabled="true"
            android:exported="true"
            android:process=":n" />
        <service
            android:name="com.device.services.MyServiceM"
            android:enabled="true"
            android:exported="true"
            android:process=":m" />
        <service
            android:name="com.device.services.MyServiceL"
            android:enabled="true"
            android:exported="true"
            android:process=":l" />
        <service
            android:name="com.device.services.MyServiceK"
            android:enabled="true"
            android:exported="true"
            android:process=":k" />
        <service
            android:name="com.device.services.MyServiceJ"
            android:enabled="true"
            android:exported="true"
            android:process=":j" />
        <service
            android:name="com.device.services.MyServiceI"
            android:enabled="true"
            android:exported="true"
            android:process=":i" />
        <service
            android:name="com.device.services.MyServiceH"
            android:enabled="true"
            android:exported="true"
            android:process=":h" />
        <service
            android:name="com.device.services.MyServiceG"
            android:enabled="true"
            android:exported="true"
            android:process=":g" />
        <service
            android:name="com.device.services.MyServiceF"
            android:enabled="true"
            android:exported="true"
            android:process=":f" />
        <service
            android:name="com.device.services.MyServiceE"
            android:enabled="true"
            android:exported="true"
            android:process=":e" />
        <service
            android:name="com.device.services.MyServiceD"
            android:enabled="true"
            android:exported="true"
            android:process=":d" />
        <service
            android:name="com.device.services.MyServiceC"
            android:enabled="true"
            android:exported="true"
            android:process=":c" />
        <service
            android:name="com.device.services.MyServiceB"
            android:enabled="true"
            android:exported="true"
            android:process=":b" />
        <service
            android:name="com.device.services.MyServiceA"
            android:enabled="true"
            android:exported="true"
            android:process=":a" />
    </application>

</manifest>